.titleNews {
    margin-left: 2.5%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: #000;
    color: #fff;
}

.cardNews {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}